<button id="duplicate" class="button">Duplicate</button>

<button id="toggleBackGroundColor" class="button">Change Background Color</button>

<button id="changeTitle" class="button">Change Title</button>

<button id="deleteButton" class="button">Delete</button>

<section class="card">
  <header class="name">
    <h1 id="title" class="title"> Coffee </h1>
    </header>
  <p>
    "Good morning, I like coffeeeeee" </p>
  <section class="content">
    <img src="https://thumbor.bigedition.com/husky-good-morning-meme/pH3EqF8t0ug2q1rb8xQUIfy_TIM=/800x739/filters:format(webp):quality(80)/granite-web-prod/48/f0/48f096f394fe421fa43128fa65a1f2a1.jpeg"
alt="https://www.workandmoney.com/s/good-morning-memes-19ec5c5d8885431a" width=200px>
    <button id = "detailBtn" class="detailsButton">Detail </button>
</section>
</section>
